@model IEnumerable<LearnerPlatform.Models.Snap97_NS_CS.Learning_path_masted>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.path_id)
        </th>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creation_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.path_id)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.learner_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creation_date)
        </td>
        <td>
            @Html.ActionLink("Show Courses", "GetPathDetails", new { id=item.path_id}) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
